/* estilos al reporte */
#textReport {
  font-size: 18px;
  background: -webkit-linear-gradient(left top, #fff, #007bff);
  background: linear-gradient(to bottom right, #fff, #007bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Al boton reporte hace efecto slide de izquierda al centro */
.button_slide {
  color: #FFF;
  border: 2px solid #007bff;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #007bff;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #007bff;
}


/* Select Home */
:root {
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
}

/* Estilos del select dropdown */
select {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 20rem;
  padding: 1rem 4rem 1rem 1rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: black;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &::-ms-expand {
    display: none;
  }

  &:focus {
    outline: none;
  }

  option {
    color: var(--blue);
    background-color: var(--blue);
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
}

/* Fin Estilos del select dropdown */

/* pone el cursor como manito cuando pase el mouse encima */
#technicalReportt:hover {
  cursor: pointer;
}