body {
    padding : 10px ;
    
  }
  
  #exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  #exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }
  
  /* change border radius for the tab , apply corners on top*/
  
  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
  }
  
  #exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }

  .color-title-home {
    background: -webkit-linear-gradient(left top, #007bff, black, #007bff);
    background: linear-gradient(to bottom right, #007bff, black, #007bff);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 2px 2px #007bff;
  }

.header-color {
  background-color: #007bff;
  color: white;
}

.mx-6 {
  margin-left: 15%;
  margin-right: 15%;
}